<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>BLOG</h1>
    {{ foreach  }}
    <p>Post created at {{ post.created_at|date("m/d/Y") }}</p>
<p>{{ post.content }}</p>
</body>
</html>